

.grid__item {
	position: absolute;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	justify-items: center;
	overflow: hidden;
	padding: 4rem 1.5rem;
	height: 100vh;
	width: 100vw;
	background: transparent;
}

.theme {
	--color-item-bg: linear-gradient(120deg, #5caaf9 0%, #4fb5ba 100%);
	--color-action: #03c0ff;
	--color-button-bg: #03c0ff;
	--color-button-text: #fff;
	--button-padding: 10px 40px;
	--radius-button: 0;
	--border-button: 0;
	font-family: 'Genos', sans-serif;
	border-color: transparent;
	font-size: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	letter-spacing: 4px;
	cursor: pointer;
}



@media screen and (min-width: 50em) {
	.grid__item {
		height: 100vh;
		width: 100%;
		padding: 1.5rem;
	}
}

.particles {
	position: relative;
	grid-area: 1 / 1 / 2 / 2;
}

.particles-canvas {
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}

.particles-wrapper {
	position: relative;
	display: inline-block;
	overflow: hidden;
	will-change: transform;
	width: 100%;
	transition: all 0.3s ease-in;
}
.particles-wrapper:hover {
	border-radius: 5px;
	--color-button-text: #000;
	transition: all 0.3s ease-in;
}


.particles-button {
	position: relative;
	border-radius: 5px;
	background: var(--color-button-bg);
	border: 0;
	margin: 0;
	padding: 10px 15px 15px;
	width: 100%;
	/* box-shadow: 0 0 15px #03c0ff; */
}

@media screen and (max-width: 996px) {
	.particles-button {
		font-size: 1rem;
	}
}

.particles-button:focus {
	outline: none;
}

.no-js .particles-button {
	grid-area: 1 / 1 / 2 / 2;
}