.work {
    width: 100%;
    position: relative;
    background-color: #273040ed;
    z-index: 120;
    padding: 0 0 20% 0;
    box-shadow: 0 0 150px #000000a6;
}
@media only screen and (min-width: 770px) {
    .work {
        width: 100%;
        z-index: 10;
        position: relative;
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;
        box-shadow: none;
    }
}

@media only screen and (min-width: 770px) {
    .work1, .work2, .work3 {
        padding: 10% 5% 10%;
        position: relative;
    }
}
.work1, .work2, .work3 {
    padding: 0;
    position: relative;
}

@media only screen and (min-width: 770px) {
    .workpic, .workpic2, .workpic3 {
        width: 50%;
        float: left;
        height: 600px;
    }
}
.workpic, .workpic2, .workpic3 {
    width: 100%;
    float: none;
    height: 400px;
}

@media only screen and (min-width: 770px) {
    .homework1, .homework2, .homework3 {
      position: absolute;
      width: 33%;
      top: 15%;
      left: 14%;
      z-index: 100;
    }
  }
  @media only screen and (min-width: 650px) {
    .homework1, .homework2, .homework3 {
      position: absolute;
      width: 45%;
      top: 15%;
      left: 6%;
      z-index: 100;
    }
  }
  .homework1, .homework2, .homework3 {
    position: absolute;
    width: 100%;
    top: 11%;
    left: 0%;
    z-index: 100;
  }

  .workpic img, .workpic2 img, .workpic3 img {
    width: 100%;
  }

  @media only screen and (min-width: 770px) {
    .homeworksplat, .homeworksplat2, .homeworksplat3 {
      position: absolute;
      top: 7%;
      left: 7%;
      width: 500px;
      height: 500px;
      z-index: 0;
    }
  }
  @media only screen and (min-width: 650px) {
    .homeworksplat, .homeworksplat2, .homeworksplat3 {
      position: absolute;
      top: 7%;
      left: -7%;
      width: 500px;
      height: 500px;
      z-index: 0;
    }
  }
  .homeworksplat, .homeworksplat2, .homeworksplat3 {
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: 0;
  }

  @media only screen and (min-width: 770px) {
    .workintro, .workintro2, .workintro3 {
      width: 44%;
      float: right;
      padding: 0 11% 0 0;
      text-align: right;
    }
  }
  .workintro, .workintro2, .workintro3 {
    width: 100%;
    padding: 0 7%;
    float: none;
    text-align: left;
  }

  @media only screen and (min-width: 770px) {
    .worktext, .worktext2, .worktext3 {
      padding-left: 20px;
      text-align: right;
    }
  }
  .worktext, .worktext2, .worktext3 {
    padding-left: 0px;
    text-align: left;
  }

  @media only screen and (min-width: 770px) {
    .worktext h3, .worktext2 h3, .worktext3 h3 {
      color: #fff;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 70px;
      letter-spacing: -1px;
    }
  }
  .worktext h3, .worktext2 h3, .worktext3 h3 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 10vw;
    letter-spacing: -1px;
  }

  @media only screen and (min-width: 770px) {
    .worktext p, .worktext2 p, .worktext3 p {
      color: #7c8898;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 35px;
      margin-top: 30px;
    }
  }
  @media only screen and (min-width: 650px) {
    .worktext p, .worktext2 p, .worktext3 p {
      color: #7c8898;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 35px;
      margin-top: 30px;
    }
  }
  .worktext p, .worktext2 p, .worktext3 p {
    color: #7c8898;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
  }
  .hideme {
    opacity: 1;
  }

  @media only screen and (min-width: 770px) {
    .worktext a, .worktext2 a, .worktext3 a {
      color: #00e7ea;
      text-decoration: underline;
      padding-top: 25px;
      display: block;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 23px;
    }
  }
  @media only screen and (min-width: 650px) {
    .worktext a, .worktext2 a, .worktext3 a {
      color: #00e7ea;
      text-decoration: underline;
      padding-top: 25px;
      display: block;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 23px;
    }
  }
  .worktext a, .worktext2 a, .worktext3 a {
    color: #00e7ea;
    text-decoration: underline;
    padding-top: 25px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
  }